encryption = "age"
[age]
  identity = "~/key.txt"
  recipient = "age1pycjk6eqnlevk0spa7rcx783rh5rndg5ceaq6p3pmp7w66aw2qwsknwrl9"
[diff]
  command = "nvim"
  args = ["-d", "{{ .Destination }}", "{{ .Source }}", "{{ .Target }}"]
[merge]
  command = "nvim"
  args = ["-d", "{{ .Destination }}", "{{ .Source }}", "{{ .Target }}"]

