if not functions -q fundle
  eval (curl -sfL https://git.io/fundle-install)
end

fundle plugin "pure-fish/pure"
fundle init

# pure configuration
function _pure_prompt_ssh
  set --local username (id -u -n) # current user name
  set --local at_sign "@"
  set --local at_sign_color (_pure_set_color $pure_color_at_sign)
  set --local hostname_color (_pure_set_color $pure_color_hostname)
  
  set --local username_color (_pure_set_color $pure_color_username_normal) # default color
  if test "$username" = "root"
    set username_color (_pure_set_color $pure_color_username_root) # different color for root
  end
  
  set --local myhost $hostname
  if test -n "$REPO"
    set myhost devenv
  end
  
  echo "$username_color$username$at_sign_color$at_sign$hostname_color$myhost"
end

set --universal pure_show_system_time true
set --universal pure_begin_prompt_with_current_directory false

alias ghic="gh issue create --assignee \"@me\" --body \"\" --title"

fish_add_path ~/.cargo/bin

# make sure everything is up to date
if status --is-interactive
  if not test -e "$HOME/key.txt"
    age --decrypt --output "$HOME/key.txt" "{{ .chezmoi.sourceDir }}/key.txt.age"
    chmod 600 "$HOME/key.txt"
  end

  if wget -q --spider http://google.com
    chezmoi update
  end
end

